@use "../../assets/styles/mixins" as *;

.posterWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  picture {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .poster {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 5 / 7.5;
    display: block;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  }

  .posterLandscape {
    width: 75%;
    aspect-ratio: 1.77 / 1;
    display: block;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  }

  .addButton {
    border-radius: 10px;
    border: none;
    background: #ffd43b;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    height: 60px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    transition: background 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: #fcc419;
    }

    &:disabled {
      cursor: not-allowed;
      box-shadow: none;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  .favorited {
    background: #f03e3e;

    &:hover {
      background: #e03131;
    }
  }
}

@include respond-lg {
  .posterWrap {
    .addButton {
      max-width: 75%;
      height: 54px;
      font-size: 16px;
    }
  }
}

@include respond-md {
  .posterWrap {
    .addButton {
      max-width: 75%;
      height: 54px;
      font-size: 16px;
    }
  }
}

@include respond-sm {
  .posterWrap {
    .posterLandscape {
      width: 85%;
    }

    .addButton {
      max-width: 85%;
      height: 54px;
      font-size: 16px;
    }
  }
}

@include respond-xs {
  .posterWrap {
    .posterLandscape {
      width: 90%;
    }

    .addButton {
      max-width: 90%;
      height: 52px;
      font-size: 15px;
    }
  }
}
