@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/state.module" as *;

.loadingSpinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topSection {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 24px;
  padding: 24px 0 32px;

  @include respond-sm {
    grid-template-columns: 1fr;
    gap: 20px;

    padding: 10px 0 32px;
  }

  @include respond-xs {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.creditsSection {
  padding-bottom: 64px;

  .creditMeta {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 0 4px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include respond-xl {
    padding-bottom: 72px;
  }

  @include respond-sm {
    padding-bottom: 48px;
  }

  @include respond-xs {
    padding-bottom: 48px;
  }
}
