:global(.container) {
  .header {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 80px;
    padding: 10px 0;
    box-sizing: border-box;
    margin-top: 4px;

    .title {
      display: flex;
      align-items: center;
      height: 100%;
      flex-shrink: 0;
      padding: 8px 16px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.075);
      .logo {
        height: 100%;
        aspect-ratio: 2.05 / 1;
      }
    }

    .form {
      flex: 1;
      display: flex;
      justify-content: center;
      height: 65%;
      border-radius: 4px;

      .input {
        width: 50%;
        border-radius: 4px;
        padding: 4px;
      }
    }

    .login {
      flex-shrink: 0;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      color: var(--color-black);
      display: flex;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      padding: 6px 12px;
      box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
      transition: box-shadow 200ms ease-in-out;

      &:hover {
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
