@use "../../assets/styles/mixins" as *;

.search {
  padding: 24px 0 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;

    .subtitle {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
      margin: 0;
    }
  }
  @include respond-sm {
    padding: 16px 0 48px;
    gap: 16px;

    .header {
      .subtitle {
        font-size: 14px;
      }
    }
  }
}
