@use "./mixins" as *;
@use "./state.module" as *;

.topBlock {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 32px;
  padding: 24px 0 40px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .state {
      margin-top: 20px;
    }
  }

  @include respond-lg {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  @include respond-md {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  @include respond-sm {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @include respond-xs {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
