@use "../../assets/styles/mixins" as *;

.recommendations {
  padding-bottom: 64px;

  .recommendationsTitle {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 16px;
  }

  @include respond-xl {
    padding-bottom: 72px;
  }

  @include respond-sm {
    padding-bottom: 48px;
  }

  @include respond-xs {
    padding-bottom: 48px;
  }
}
